<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-col size-md="6">
      <ion-img src="/assets/icon/logo-duoc.png" class="logo ion-margin-left"></ion-img>
    </ion-col>
    <ion-title #titulo class="ion-text-left ion-text">
      <div>
        Sistema de Asistencia Duoc
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
        <!-- <ion-img src="/assets/icon/logo-duoc.png" slot="start"></ion-img> -->
      
      <ion-title size="large" class="slide-animation">
        <h1  class="slide-animation">Tu Título</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <img src="https://res.cloudinary.com/postedin/image/upload/d_recorriendo:no-image.jpg,f_auto,q_80/recorriendo/c-28b93bf742.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; WIDTH:100%; height: 100%;">
    <ion-card>
      <ion-card-header>
        
        <h1 class="ion-text-center">¡Bienvenid@!</h1>
      <ion-text class="ion-text-center"><h1>Usuario: {{ usuario.mdl_nombre }}</h1>  </ion-text>  
      </ion-card-header>
      <ion-card-content>
        <br>
        
  
  <input #fileinput hidden id="input-file" type="file" accept="image/*;capture=camera" 
      (change)="verificarArchivoConQR($event.target.files)" />
  
    <!-- <ion-button  (click)="cargarImagenDesdeArchivo()" expand="full" shape="round">
      <ion-icon slot="start" name="camera"></ion-icon>
      Cargar Imagen con Código QR
    </ion-button> -->
  
    <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
      <ion-icon slot="start" name="videocam-outline"></ion-icon>
      Comenzar Escaneo de QR
    </ion-button>
  
    <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
      <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
      Detener escaneo de QR
    </ion-button>
  
    <!-- <ion-button (click)="limpiarDatos()" expand="block" expand="full" shape="round">
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      Limpiar datos
    </ion-button> -->
  
    <video #video [hidden]="!escaneando" width="100%"></video>
    <canvas #canvas hidden></canvas>
  
        <br><br>
        <h3 hidden>
        Escaneando: {{ escaneando }}
        </h3><br>
      </ion-card-content>
    </ion-card>
      <!-- Cerrar Sesión -->
      <ion-row>
        <ion-col size="12">
          <ion-button shape="block" (click)="cerrarsesion()">Cerrar Sesión</ion-button>
        </ion-col>
      </ion-row>
  </ion-content>
  
  
</ion-content>