<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title #titulo class="ion-text-left ion-text">
      <div>
        Sistema de Asistencia Duoc
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div class="segment-buttons">
    <ion-segment >
      <ion-segment-button value="principal" >
        Inicio
      </ion-segment-button>
      <ion-segment-button value="miclase" (click)="miclase()">
        Mi Clase
      </ion-segment-button>
    </ion-segment>
  </div>




  <div class="centrado">
  <ion-title class="ion-padding-top">
    <ion-label>
      <h1 class="ion-text-center">¡Bienvenid@!</h1>
      <ion-text class="ion-text-center"><h1>Usuario: {{ usuario.mdl_nombre }}</h1>  </ion-text>
      <!-- Hay que cambiar la forma de llamar al usuario-->
    </ion-label>
  </ion-title>
<br>
  <b class="ion-text-center">
    <h4>Escanea el Código QR</h4>
  </b>
  <!-- Codigo QR -->
  <ion-img src="/assets/icon/QR.png" > </ion-img>
  

  <!-- Cerrar Sesión -->
  <ion-button color="rgb(161, 72, 190)" expand="block" class="ion-margin-top" (click)="cerrarsesion()">Cerrar Sesión</ion-button>
</div>
</ion-content>
