<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-col size-md="6"><ion-img src="/assets/icon/logo-duoc.png" class="logo ion-margin-left"> </ion-img></ion-col>
      <ion-col size-md="12"><div class="ion-text-center">Sistema de Asistencia DUOCUC</div></ion-col>
      <ion-col size-md="6"></ion-col>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-align-items-center">
  <ion-img src="/assets/icon/no_data.png"></ion-img>

  <ion-text class="ion-text-center"><h1>Lo sentimos pero los datos ingresados no son correctos</h1></ion-text>

  <ion-button color="rgb(161, 72, 190)" expand="block" class="degradado ion-margin-top" (click)="login()"> Volver al Inicio </ion-button>
</ion-content>
