<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-col size-md="6">
      <ion-img src="/assets/icon/logo-duoc.png" class="logo ion-margin-left"></ion-img>
    </ion-col>
    <ion-col size-md="12">
      <div class="ion-text-center">Sistema de Asistencia DUOCUC</div>
    </ion-col>
    <ion-col size-md="6"></ion-col>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centrado">
    <ion-text class="ion-text-center"><h1>PASO 1: INGRESA TU CORREO</h1></ion-text>
    <ion-item class="ion-margin-top">
      <ion-input label="Ingrese su correo" labelplacement="floating" [(ngModel)]="correo"></ion-input>
    </ion-item>
    <!-- Botones -->
    <ion-button color="rgb(161, 72, 190)" expand="block" shape="round" class="degradado ion-margin-top" (click)="recuperarContrasena()"> Recuperar Contraseña</ion-button>
    <ion-button color="rgb(161, 72, 190)" expand="block" class="degradado ion-margin-top" (click)="volverAlInicio()"> Volver al Inicio </ion-button>
  </div>
  <ion-header collapse="condense">
    <ion-toolbar></ion-toolbar>
  </ion-header>

  <ion-alert
    [isOpen]="isAlertOpen"
    header="Aviso"
    message="Campo obligatorio"
    [buttons]="alertButtons">
  </ion-alert>
</ion-content>

